[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
TerminalOptions=bash
Exec=bash -c -i "/home/agilex/limo_start_shortcut/bashes/lidar_navigation_diff.sh"
Icon=/home/agilex/limo_start_shortcut/icons/navigation.png
Name=lidar_navigation_diff
Name[en_US]=lidar_navigation_diff.desktop
