[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
TerminalOptions=bash
Exec=bash -c -i "/home/agilex/limo_start_shortcut/bashes/yolo_v3.sh"
Icon=/home/agilex/limo_start_shortcut/icons/yolo.png
Name=yolo_v3
Name[en_US]=yolo_v3.desktop
